.skills{
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}
.skill > span {
    margin-right: 5px;
}

.skill > span:not(:last-child)::after {
    content : "|";
    margin-left: 5px;
}

.container{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    border-bottom: solid black 1px;
    margin: 2px 0 2px 0;
}

.container > span{
    margin-right: 20px;
}

.calculator {
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

#gemLevel{
    width: 10%;
    margin-left: 35%;
}

.levels{
    min-height: 250px;
}

.prev-calc-title {
    margin-left: 5%;
}

#prev-calc-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;
}

#prev-calc-container > * {
    margin-top: 10px;
}

.prev-calc-button-container {
    display: flex;
    justify-content: flex-end;
    width:50%;
}

.close {
    margin-left: auto;
}